	@font-face {
	font-family: Gotham m;
	src: url(./fonts/GothamRounded-Medium.otf);
	}
		
	@font-face {
	font-family: Gotham b;
	src: url(./fonts/GothamRounded-Bold.otf);
	}
	
	@font-face {
	font-family: Gotham t;
	src: url(./css/fonts/GothamRoundedBook_21018.ttf);
	}
		
	@font-face {
	font-family: Gotham l;
	src: url(./css/fonts/GothamRounded-Book.otf);
	}	
	
	body
	{
	font-family:Gotham l;	
	}
		
	.heading
	{	
	padding:5em 0;
	text-align:center;	
	font-family:'Gotham m';	
	}
		
	.heading h6 small
	{
	color:rgb(51, 51, 51);	
	}
	.heading h6
	{
	font-weight:600;
	font-size:2.5em;
	font-family:gotham t;
	}
		
	.heading h3
	{
	font-size:4em;	
	}
		
	p
	{
	font-family:inherit;
	font-size:18px;
	}
	
	
	#title_wrap
	{
	padding:6em 0;
	background:url('../images/bg/bg.jpg') no-repeat;
	background-size:cover;
	background-attachment:fixed;
	}
		
	#ds_courses
	{
	background:#2d2d2d;
	background-size:cover;
	background-attachment:fixed;
	padding:3em 0;
	}	
		
	#title_wrap h3
	{
	font-family:Gotham m;	
	}
	
	.sub-course
	{
	font-family:Gotham m;
	padding:1em;
	margin:1em;
	border:1px solid #ccc;
	height:366px;
	background:#fff;
	border-radius:4px;
	transition:.25s linear all;
	-webkit-transition:.25s linear all;
	-moz-transition:.25s linear all;
	-ms-transition:.25s linear all;
	-o-transition:.25s linear all;
	}
	
	.sub-course:hover
	{
	box-shadow:0 0 10px 1px rgba(255,255,255,.8);
	transition:.25s linear all;
	-webkit-transition:.25s linear all;
	-moz-transition:.25s linear all;
	-ms-transition:.25s linear all;
	-o-transition:.25s linear all;
	}
	
	.sub-course hr
	{
	border-bottom:4px solid #eee;	
	}
		
	.sub-course h2
	{
	color:#ee242F;
	font-size:1.8em;
	font-family:gotham b;
	}
	.no-empty,body
	{
	margin:0 !important;
	padding:0 !important;
	}
	